@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Kdam+Thmor+Pro&display=swap');

:root {
  --color-primary: #6833e4;
  --color-primaray-dark: #5629c0;
  --border: #4d4d5728;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 85.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  background: #ad5389;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}